<div class="row">
	<h2>Edit Post</h2>
</div>

<div class="row">
	<div class="small-12 large-6 columns">
		<form {{action updatePost on="submit"}}>
			<p>
				<label>Featured Image:</label><br />
				{{input type=text value=image placeholder="Featured Image URL..."}}
			</p>
			<p>
				<label>Title:</label><br />
				{{input type=text value=title placeholder="Title..."}}
			</p>
			<p>
				<label>Body:</label><br />
				{{textarea value=body placeholder="Body..."}}
			</p>
			<p>
				{{input type=submit class="primary" value="Update Post"}}
			</p>
		</form>
	</div>
	<div class="small-12 large-6 columns">

		{{#if title}}
		  <h1>{{title}}</h1>
		{{/if}}

		{{#if image}}
		  <img {{bind-attr src="image"}} />
		{{/if}}

		{{#if body}}
			{{markdown body}}
		{{/if}}
	</div>
</div>